In [1]:
# install all needed libraries
import sys
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install holidays
!{sys.executable} -m pip install workalendar
!{sys.executable} -m pip install boto3

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.23.4)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.5.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/danaiavg/Library/Python/3.8/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.20.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: holidays in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (0.17.2)
Requirement already satisfied: korean-lunar-calendar in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from holidays) (0.3.1)
Requirement already satisfied: convertdate>=2.3.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from holidays) (2.4.0)
Requirement already satisfied: hijri-converter in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from holidays) (2.2.4)
Requirement already satisfied: python-dateutil in /Users/danaiavg/Library/Python/3.8/lib/python/site-packages (from holidays) (2.8.2)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from convertdate>=2.3.0->holidays) (0.5.12)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil->holidays) (1.15.0)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: workalendar in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (16.4.0)
Requirement already satisfied: pyluach in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from workalendar) (2.0.2)
Requirement already satisfied: python-dateutil in /Users/danaiavg/Library/Python/3.8/lib/python/site-packages (from workalendar) (2.8.2)
Requirement already satisfied: lunardate in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from workalendar) (0.2.0)
Requirement already satisfied: backports.zoneinfo in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from workalendar) (0.2.1)
Requirement already satisfied: convertdate in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from workalendar) (2.4.0)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from convertdate->workalendar) (0.5.12)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil->workalendar) (1.15.0)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: boto3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.26.3)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from boto3) (0.6.0)
Requirement already satisfied: botocore<1.30.0,>=1.29.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from boto3) (1.29.37)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from boto3) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /Users/danaiavg/Library/Python/3.8/lib/python/site-packages (from botocore<1.30.0,>=1.29.3->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from botocore<1.30.0,>=1.29.3->boto3) (1.25.10)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.3->boto3) (1.15.0)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: pip install --upgrade pip

In [1]:
# import libraries
import numpy as np
import pandas as pd
import datetime as dt
import holidays

In [2]:
start_date = dt.datetime(2022, 12, 1)
end_date = dt.datetime(2024, 1, 1)
# periods between start and end date
delta = end_date - start_date

In [6]:
# create date dataframe by hour
date_df = pd.date_range(start_date, 
                        periods=delta.days, 
                        freq='D').to_frame(index=False, 
                                           name='date_utc')

In [7]:
date_df.head()

    date_utc
0 2022-12-01
1 2022-12-02
2 2022-12-03
3 2022-12-04
4 2022-12-05

In [8]:
# add all date related fields
date_df['day'] = date_df.date_utc.dt.day
date_df['day_name'] = date_df.date_utc.dt.day_name()
date_df['week'] = date_df.date_utc.dt.isocalendar().week
date_df['weekday'] = date_df.date_utc.dt.weekday
date_df['month'] = date_df.date_utc.dt.month
date_df['month_name'] = date_df.date_utc.dt.month_name()
date_df['year'] = date_df.date_utc.dt.year

In [9]:
date_df.head()

    date_utc  day  day_name  week  weekday  month month_name  year
0 2022-12-01    1  Thursday    48        3     12   December  2022
1 2022-12-02    2    Friday    48        4     12   December  2022
2 2022-12-03    3  Saturday    48        5     12   December  2022
3 2022-12-04    4    Sunday    48        6     12   December  2022
4 2022-12-05    5    Monday    49        0     12   December  2022

In [10]:
# importing holidays of top 5 countries using reddit 
# https://www.similarweb.com/website/reddit.com/#geography
usa_holidays = holidays.US(years=date_df['year'].unique())
uk_holidays = holidays.UK(years=date_df['year'].unique())
ca_holidays = holidays.CA(years=date_df['year'].unique())
au_holidays = holidays.AU(years=date_df['year'].unique())
de_holidays = holidays.DE(years=date_df['year'].unique())

In [11]:
date_df['united_state_holidays'] = date_df['date_utc'].map(usa_holidays)
date_df['is_united_state_holiday'] = (date_df['united_state_holidays']
                                      .apply(lambda x: False if x is np.NAN else True))

date_df['united_kingdom_holidays'] = date_df['date_utc'].map(uk_holidays)
date_df['is_united_kingdom_holiday'] = (date_df['united_kingdom_holidays']
                                        .apply(lambda x: False if x is np.NAN else True))

date_df['canada_holidays'] = date_df['date_utc'].map(ca_holidays)
date_df['is_canada_holiday'] = (date_df['canada_holidays']
                                .apply(lambda x: False if x is np.NAN else True))

date_df['australia_holidays'] = date_df['date_utc'].map(au_holidays)
date_df['is_australia_holiday'] = (date_df['australia_holidays']
                                   .apply(lambda x: False if x is np.NAN else True))

date_df['germany_holidays'] = date_df['date_utc'].map(de_holidays)
date_df['is_germany_holiday'] = (date_df['germany_holidays']
                                 .apply(lambda x: False if x is np.NAN else True))

In [12]:
date_df.columns

Index(['date_utc', 'day', 'day_name', 'week', 'weekday', 'month', 'month_name',
       'year', 'united_state_holidays', 'is_united_state_holiday',
       'united_kingdom_holidays', 'is_united_kingdom_holiday',
       'canada_holidays', 'is_canada_holiday', 'australia_holidays',
       'is_australia_holiday', 'germany_holidays', 'is_germany_holiday'],
      dtype='object')

In [13]:
date_df.shape

(396, 18)

In [14]:
date_df.head()

,date_utc,day,day_name,week,weekday,month,month_name,year,united_state_holidays,is_united_state_holiday,united_kingdom_holidays,is_united_kingdom_holiday,canada_holidays,is_canada_holiday,australia_holidays,is_australia_holiday,germany_holidays,is_germany_holiday
0,2022-12-01,1,Thursday,48,3,12,December,2022,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
1,2022-12-02,2,Friday,48,4,12,December,2022,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
2,2022-12-03,3,Saturday,48,5,12,December,2022,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
3,2022-12-04,4,Sunday,48,6,12,December,2022,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
4,2022-12-05,5,Monday,49,0,12,December,2022,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False

In [15]:
date_df['date_utc'] = pd.to_datetime(date_df['date_utc']).astype(int)/ 10**9

In [16]:
date_df.head()

,date_utc,day,day_name,week,weekday,month,month_name,year,united_state_holidays,is_united_state_holiday,united_kingdom_holidays,is_united_kingdom_holiday,canada_holidays,is_canada_holiday,australia_holidays,is_australia_holiday,germany_holidays,is_germany_holiday
0,1.669853e+09,1,Thursday,48,3,12,December,2022,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
1,1.669939e+09,2,Friday,48,4,12,December,2022,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
2,1.670026e+09,3,Saturday,48,5,12,December,2022,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
3,1.670112e+09,4,Sunday,48,6,12,December,2022,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
4,1.670198e+09,5,Monday,49,0,12,December,2022,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False

In [17]:
# print usa holidays
(date_df[['date_utc','united_state_holidays','is_united_state_holiday']]
 .groupby(['date_utc','united_state_holidays','is_united_state_holiday'])
 .count())

Empty DataFrame
Columns: []
Index: [(1671926400.0, Christmas Day, True), (1672012800.0, Christmas Day (Observed), True), (1672531200.0, New Year's Day, True), (1672617600.0, New Year's Day (Observed), True), (1673827200.0, Martin Luther King Jr. Day, True), (1676851200.0, Washington's Birthday, True), (1685318400.0, Memorial Day, True), (1687132800.0, Juneteenth National Independence Day, True), (1688428800.0, Independence Day, True), (1693785600.0, Labor Day, True), (1696809600.0, Columbus Day, True), (1699574400.0, Veterans Day (Observed), True), (1699660800.0, Veterans Day, True), (1700697600.0, Thanksgiving, True), (1703462400.0, Christmas Day, True)]

In [18]:
# print uk holidays
(date_df[['date_utc','united_kingdom_holidays','is_united_kingdom_holiday']]
 .groupby(['date_utc','united_kingdom_holidays','is_united_kingdom_holiday'])
 .count())

Empty DataFrame
Columns: []
Index: [(1671926400.0, Christmas Day, True), (1672012800.0, Boxing Day, True), (1672099200.0, Christmas Day (Observed), True), (1672531200.0, New Year's Day, True), (1672617600.0, New Year Holiday [Scotland], New Year's Day (Observed), True), (1672704000.0, New Year Holiday [Scotland] (Observed), True), (1679011200.0, St. Patrick's Day [Northern Ireland], True), (1680825600.0, Good Friday, True), (1681084800.0, Easter Monday [England/Wales/Northern Ireland], True), (1682899200.0, May Day, True), (1685318400.0, Spring Bank Holiday, True), (1689120000.0, Battle of the Boyne [Northern Ireland], True), (1691366400.0, Summer Bank Holiday [Scotland], True), (1693180800.0, Late Summer Bank Holiday [England/Wales/Northern Ireland], True), (1701302400.0, St. Andrew's Day [Scotland], True), (1703462400.0, Christmas Day, True), (1703548800.0, Boxing Day, True)]

In [19]:
# print canada holidays
(date_df[['date_utc','canada_holidays','is_canada_holiday']]
 .groupby(['date_utc','canada_holidays','is_canada_holiday'])
 .count())

Empty DataFrame
Columns: []
Index: [(1671926400.0, Christmas Day, True), (1672012800.0, Boxing Day, True), (1672099200.0, Christmas Day (Observed), True), (1672531200.0, New Year's Day, True), (1672617600.0, New Year's Day (Observed), True), (1676851200.0, Family Day, True), (1680825600.0, Good Friday, True), (1681084800.0, Easter Monday, True), (1684713600.0, Victoria Day, True), (1688169600.0, Canada Day, True), (1688342400.0, Canada Day (Observed), True), (1691366400.0, Civic Holiday, True), (1693785600.0, Labour Day, True), (1696809600.0, Thanksgiving, True), (1703462400.0, Christmas Day, True), (1703548800.0, Boxing Day, True)]

In [20]:
# print australia holidays
(date_df[['date_utc','australia_holidays','is_australia_holiday']]
 .groupby(['date_utc','australia_holidays','is_australia_holiday'])
 .count())

Empty DataFrame
Columns: []
Index: [(1671926400.0, Christmas Day, True), (1672012800.0, Boxing Day, True), (1672099200.0, Christmas Day (Observed), True), (1672531200.0, New Year's Day, True), (1672617600.0, New Year's Day (Observed), True), (1674691200.0, Australia Day, True), (1680825600.0, Good Friday, True), (1681084800.0, Easter Monday, True), (1682380800.0, Anzac Day, True), (1703462400.0, Christmas Day, True), (1703548800.0, Boxing Day, True)]

In [21]:
# print germany holidays
(date_df[['date_utc','germany_holidays','is_germany_holiday']]
 .groupby(['date_utc','germany_holidays','is_germany_holiday'])
 .count())

Empty DataFrame
Columns: []
Index: [(1671926400.0, Erster Weihnachtstag, True), (1672012800.0, Zweiter Weihnachtstag, True), (1672531200.0, Neujahr, True), (1680825600.0, Karfreitag, True), (1681084800.0, Ostermontag, True), (1682899200.0, Erster Mai, True), (1684368000.0, Christi Himmelfahrt, True), (1685318400.0, Pfingstmontag, True), (1696291200.0, Tag der Deutschen Einheit, True), (1703462400.0, Erster Weihnachtstag, True), (1703548800.0, Zweiter Weihnachtstag, True)]

In [22]:
import configparser
import boto3
from io import StringIO 

config = configparser.ConfigParser()
config.read_file(open('test.cfg'))

access_key                = config.get("AWS","KEY")
secret_key                = config.get("AWS","SECRET")

In [23]:
s3 = boto3.resource('s3',
                    region_name='us-west-2',
                    aws_access_key_id=access_key,
                    aws_secret_access_key=secret_key
                    )

In [25]:
# write data to s3
# SOURCE CODE: https://www.stackvidhya.com/write-pandas-dataframe-as-csv-to-s3-using-boto3/
csv_buffer = StringIO()
date_df.to_csv(csv_buffer, index=False)

s3_bucket, s3key = ('reddit-project-data', 'dwr/dates.csv')
s3object = s3.Object(s3_bucket, s3key)
s3object.put(Body=csv_buffer.getvalue());